.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .logo h1{
    font-size: 40px;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .actions a {
    margin: 0 10px;
    color: #000;
    text-decoration: none;
  }
  
  .actions select {
    padding: 5px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  